/* style.css */
body {
    text-align: center;
    background-color: black;
    font-family: 'Trebuchet MS';
    color: white;
  }
  
  img {
    border-radius: 170px;
    margin-top: 40px;
    animation: bounce 2s infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-10px);
    }
    60% {
      transform: translateY(-5px);
    }
  }
  
  h2 {
    font-size: 24px;
  }
  
  a {
    background-color: white;
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    display: block;
    text-decoration: none;
    width: 800px;
    height: 20px;
  }